# All properties are required
#
#
# To provide a value:
#   example.key=value
#
# To refer to a environment variable:
#   example.key1=${ENV_VAR_NAME}
#   example.key2=$ENV_VAR_NAME
#
# If required, you can mix values and environment variables:
#   example.key=This was built in a ${ENV_VAR_NAME} machine.
#
signing.keyId=${PGP_KEY_ID}
signing.file.password=${PGP_KEY_PASSWORD_FILE}
signing.file.secretASCIIArmoredKey=${PGP_KEY_FILE}
authentication.ossrh.username=${OSSRH_USERNAME}
authentication.ossrh.password=${OSSRH_PASSWORD}
sonatypeStagingProfileId=${OSSRH_STAG_PROFILE_ID}
