name: instana_agent
description: Instana agent for Flutter
version: 1.0.0
author: Instana Inc.
homepage: https://www.instana.com
repository: https://github.com/instana/flutter-agent

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=1.20.0 <2.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: com.instana.flutter.agent
        pluginClass: InstanaAgentPlugin
      ios:
        pluginClass: InstanaAgentPlugin
